[submodule "Visual-ANSI-C-for-UEFI-Shell"]
	path = Visual-ANSI-C-for-UEFI-Shell
	url = https://github.com/KilianKegel/Visual-ANSI-C-for-UEFI-Shell.git
[submodule "Visual-HWTools-for-UEFI-Shell"]
	path = Visual-HWTools-for-UEFI-Shell
	url = https://github.com/KilianKegel/Visual-HWTools-for-UEFI-Shell.git
[submodule "Visual-DOS-Tools-for-UEFI-Shell"]
	path = Visual-DOS-Tools-for-UEFI-Shell
	url = https://github.com/KilianKegel/Visual-DOS-Tools-for-UEFI-Shell.git
[submodule "Visual-ACPICA-for-UEFI-Shell"]
	path = Visual-ACPICA-for-UEFI-Shell
	url = https://github.com/KilianKegel/Visual-ACPICA-for-UEFI-Shell.git
[submodule "Visual-LIBXLSXWRITER-for-UEFI-Shell"]
	path = Visual-LIBXLSXWRITER-for-UEFI-Shell
	url = https://github.com/KilianKegel/Visual-LIBXLSXWRITER-for-UEFI-Shell.git
[submodule "Visual-LIBWIN32-for-UEFI"]
	path = Visual-LIBWIN32-for-UEFI
	url = https://github.com/KilianKegel/Visual-LIBWIN32-for-UEFI.git
[submodule "Visual-TORO-C-LIBRARY-for-UEFI"]
	path = Visual-TORO-C-LIBRARY-for-UEFI
	url = https://github.com/KilianKegel/Visual-TORO-C-LIBRARY-for-UEFI.git
[submodule "Visual-ACPICA-for-UEFI-ShellPORTABLE"]
	path = Visual-ACPICA-for-UEFI-ShellPORTABLE
	url = https://github.com/KilianKegel/Visual-ACPICA-for-UEFI-ShellPORTABLE.git
